﻿@{
    ViewData["Title"] = "Temperature sensor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/temperature.js"></script>

<h3>@ViewData["Title"]</h3>
<br />

<div class="container text-center">
    <label><input id="tempStatus" class="center" style="margin-right: 10px" type="checkbox" />Turn on/off the heating</label>
    <button id="buttonSend" onclick="clickButton()" class="btn btn-primary" style="margin-left: 20px">Send</button>
</div>
