﻿@model IEnumerable<WorkTimeTracker.Models.EntryHistory>
@{
    ViewData["Title"] = "Entry history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<br />
<br />

<table id="entryHistory" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">In/Out</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Card Number</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#entryHistory').DataTable({
                ajax: {
                    url: "/home/getentryhistory",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "worker.firstName"
                    },
                    {
                        data: "worker.lastName"
                    },
                    {
                        data: "type",
                        render: function (data) {
                            if (data === 0) {
                                return 'In'
                            }
                            else {
                                return 'Out'
                            }
                        },
                    },
                    {
                        data: "date",
                        render: function (data) {
                            var splitData = data.split('T');
                            var splitTime = splitData[1].split('.');
                            return splitData[0] + " " + splitTime[0];
                        },
                    },
                    {
                        data: "workingTime",
                        render: function (data) {
                            if (data != null) {
                                var splitTime = data.split(':');
                                return splitTime[0] + " days " + splitTime[1] + " hours " + splitTime[2] + " minutes " + splitTime[3] + " seconds";
                            }
                            else {
                                return "";
                            }
                        },
                    },
                    {
                        data: "worker.cardNumber",
                    }
                ]
            });
        });
    </script>
}