﻿@model IEnumerable<WorkTimeTracker.Models.Worker>
@{
    ViewData["Title"] = "Workers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<br />

@Html.ActionLink("Add worker", "Create", "Workers", null, new { @class = "btn btn-primary" })
<br />
<br />

<table id="workers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Card Number</th>
            <th scope="col">Has access</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var workersTable = $('#workers').DataTable({
                ajax: {
                    url: "/workers/getworkers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function (data, type, worker) {
                            return "<a href='Workers/Edit/" + worker.id + "'>" + worker.firstName + "</a>";
                        },
                    },
                    {
                        data: "lastName"
                    },
                    {
                        data: "cardNumber"
                    },
                    {
                        data: "hasAccess",
                        render: function (data) {
                            if (data === true) {
                                return 'Yes'
                            }
                            else {
                                return 'No'
                            }
                        },
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-worker-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#workers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Workers/Delete/" + button.attr("data-worker-id"),
                            method: "DELETE",
                            success: function () {
                                workersTable.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            });
        });
    </script>
}