﻿@model WorkTimeTracker.Models.Worker

@{
    ViewData["Title"] = "Worker Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h3>Add worker</h3>
}
else
{
    <h3>Edit worker</h3>
}

<hr />

@using (@Html.BeginForm("Save", "Workers"))
{
    @Html.ValidationSummary(true, "Please, fill required fields.")
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(w => w.FirstName)
            @Html.TextBoxFor(w => w.FirstName, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(w => w.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.LastName)
            @Html.TextBoxFor(w => w.LastName, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(w => w.LastName)
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(w => w.HasAccess) Has access
            </label>
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.CardNumber)
            @Html.TextBoxFor(w => w.CardNumber, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(w => w.CardNumber)
        </div>
        @Html.HiddenFor(w => w.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
    </fieldset>
}

<br>
<div>
    @Html.ActionLink("Back to workers list", "Index", "Workers", null, new { @class = "btn btn-primary" })
</div>
